Let me tell you about the {{ name }}.
Scientific name of this species is in fact {{ species }}.
It belongs to the class {{ class }} within the kingdom {{ kingdom }}.
The {{ name }} has too many different abilities to list, but it certainly: {{ abilities[:-1] | join(', ') }}, and {{ abilities[-1] }}.
